#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# objective
- List popular languages for Data Science
- Identify key libraries used in Data Science
- Describe the data science workflow
- Discuss data science tools and platforms

Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:
  
1.Matplotlib
2.Pandas
3.Keras

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

a =(3*4)+5
print(a)

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Shubham Rathod